.Picture{
    width: 600px;
    margin: 0 auto 50px auto;
    height: auto;
}



img{
    width: 75%;
    border: 50px solid white;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 450px){
    .Picture{
        width: 200px;
        margin: 0 auto 15px auto;
    }
    img{
        border: 15px solid white;
        width: 75%;
    }
}